/*

Basic CSS file for our phonebook app

*/
body {
    font-size: 18px;
    font-family: sans-serif;
}
p {
     color: #080;
}

.bolded {
    font-weight: bold;
}

#precrtano {
    text-decoration: underline;
}

.blue-column {
    color: #00a;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #000;
}

td {
    padding: 10px 25px 30px 50px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 50px;
}

.outline {
    text-align: center;
    border: 3px solid #000;
    width: 150px;
    padding: 50px;
    margin: 50px;
    float: left;
}

img {
  vertical-align: top;
}

h1 > img {
  vertical-align: middle;
}

.form_div {
  width: 50%;
}

#osnovna_forma label {
  width: 10rem;
  display: inline-block;
}

#osnovna_forma input[type=text],
#osnovna_forma input[type=tel] {
  width: 30rem;
  margin: 5px;
  padding: 5px;
}

input[type=submit],
input[type=reset] {
  padding: 10px;
  width: 5rem;
  float: right;
}
